name: Branch name rules
on: [ push, pull_request ]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: yarn
        working-directory: ./Shared/GitHub/action-branch-name
      - uses: ./Shared/GitHub/action-branch-name
